#waterBlocks{
    -fx-background-image: url('resources/water.png')
}

#left{
    -fx-background-image: url('resources/LEFT.png')
}
#right{
    -fx-background-image: url('resources/RIGHT.png')
}
#up{
    -fx-background-image: url('resources/UP.png')
}
#down{
    -fx-background-image: url('resources/DOWN.png')
}
#middle{
    -fx-background-image: url('resources/MIDDLE.png')
}

#hit{
    -fx-background-image: url('resources/hit.png')
}
#miss{
    -fx-background-image: url('resources/miss.png')
}