#waterBlocks{
    -fx-background-image: url('resources/water.png')
}

#1x2H{
    -fx-background-image: url('resources/1x2H.png')
}
#1x3H{
    -fx-background-image: url('resources/1x3H.png')
}
#1x4H{
    -fx-background-image: url('resources/1x4H.png')
}
#1x5H{
    -fx-background-image: url('resources/1x5H.png')
}


#1x2V{
    -fx-background-image: url('resources/1x2V.png')
}
#1x3V{
    -fx-background-image: url('resources/1x3V.png')
}
#1x4V{
    -fx-background-image: url('resources/1x4V.png')
}
#1x5V{
    -fx-background-image: url('resources/1x5V.png')
}
